<div *ngIf="movie" class="container p-2">
  <div class="row">
    <!-- ===================================================================================================
    ==================================== CARD PRINCIPAL ===================================================== -->
    <div class="col-12">
      <div class="card mb-3 bg-dark text-white">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              [src]="movie.poster_path"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">{{ movie.title }}</h1>
              <h3 class="m-0 mb-1">Reseña:</h3>
              <p class="card-text text-justify">
                {{ movie.overview }}
              </p>
              <p class="card-text">
                <small class="text-muted">
                  Fecha de estreno {{ movie.release_date | date: 'dd/MM/YYYY' }}
                </small>
              </p>
              <p class="card-text">
                <small class="text-muted">Estatus: {{ movie.status }}</small>
              </p>
              <div class="row">
                <div class="col-12 mb-1">
                  <h3 class="card-subtitle m-0">
                    Generos
                  </h3>
                  <ul
                    class="list-group list-group-horizontal-md list-group-horizontal-lg"
                  >
                    <li
                      *ngFor="let genre of movie.genres"
                      class="list-group-item text-white"
                    >
                      {{ genre.name }}
                    </li>
                  </ul>
                </div>
                <div class="col-12 mb-1">
                  <h3 class="card-subtitle m-0">
                    Productora
                  </h3>
                  <ul
                    class="list-group list-group-horizontal-md list-group-horizontal-lg"
                  >
                    <li
                      *ngFor="let companie of movie.production_companies"
                      class="list-group-item text-white"
                    >
                      <!-- <img [src]="companie.logo_path" alt="" /> -->
                      {{ companie.name }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ===================================================================================================
    ==================================== VIDEO YOUTUBE ===================================================== -->
    <div *ngIf="trailerMovies?.length !== 0" class="col-12">
      <div class="bg-dark">
        <div class="p-3 m-3">
          <h1 class="text-white">Trailer</h1>
          <div *ngFor="let trailer of trailerMovies" class="col-12">
            <h1 class="text-white">{{ trailer.name }}</h1>

            <div class="video-container">
              <div>
                <iframe
                  class="e2e-iframe-untrusted-src"
                  width="640"
                  height="390"
                  [src]="trailer.key | safe"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
