<div class="container-lg">
  <div class="row">
    <!-- ================================================================================================== -->
    <!-- =========================== SPINNER LOADING ======================================================= -->
    <div class="col-12">
      <app-spinner-loading *ngIf="show_spinner"></app-spinner-loading>
    </div>

    <div *ngIf="!show_spinner">
      <!-- ================================================================================================== -->
      <!-- =========================== CAROUSEL SLIDE ======================================================= -->
      <div class="col-12">
        <div class="row" *ngIf="movies.length > 0">
          <div
            id="carouselExampleCaptions"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                *ngFor="
                  let movie of movies?.slice(0, 10);
                  let index = index;
                  let isFirst = first
                "
                type="button"
                data-bs-target="#carouselExampleCaptions"
                [attr.data-bs-slide-to]="index"
                [ngClass]="{ active: isFirst }"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
            </div>
            <div class="carousel-inner">
              <div
                *ngFor="
                  let movie of movies?.slice(0, 10);
                  let index = index;
                  let isFirst = first
                "
                [ngClass]="{ active: isFirst }"
                class="carousel-item"
              >
                <img
                  [src]="movie.backdrop_path"
                  class="d-block w-100"
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <h1
                    type="button"
                    [routerLink]="['/movies-api/movie', movie.id]"
                  >
                    {{ movie.title }}
                  </h1>
                  <p>
                    {{ movie.overview }}
                  </p>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <!-- ================================================================================================== -->
      <!-- =========================== CARD GROUP MOVIES ==================================================== -->
      <div class="col-12">
        <h1 class="pt-1 text-white">{{ titulo }}</h1>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 row-cols-sm-2">
          <div class="col p-1 p-md-2" *ngFor="let movie of movies">
            <a [routerLink]="['/movies-api/movie', movie.id]">
              <img
                [src]="movie.poster_path"
                class="card-img-top"
                title="{{ movie.title }}"
                alt="..."
              />
            </a>
          </div>
        </div>
        <!-- ================================================================================================== -->
        <!-- =========================== PAGINATION MOVIES ==================================================== -->
        <div classs="col-12">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li type="button" class="page-item">
                <a
                  (click)="paginationMovies(-1, page, path)"
                  [ngClass]="{ disabled: page === 1 }"
                  class="btn btn-dark me-1"
                >
                  Anterior
                </a>
              </li>
              <li type="button" class="page-item">
                <a
                  (click)="paginationMovies(1, page, path)"
                  [ngClass]="{ disabled: movies.length === 0 }"
                  class="btn btn-dark"
                >
                  Siguiente
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
