/* ============================================= CARD ============================================= */
.card-img-top {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .card-img-top {
    height: 40vh;
    width: 100%;
    object-fit: cover;
  }
}

.card-group .card {
  border: none;
}

/* ============================================= CAROUSEL ============================================= */

@media (min-width: 768px) {
  .carousel-item img {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
  }
}

@media (max-width: 767px) {
  .carousel-item img {
    width: 100%;
    object-fit: cover;
    max-height: 700px;
  }
}

.carousel-caption {
  background: linear-gradient(20deg, #020615, 70%, transparent) !important;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-caption p {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}
